@()(implicit configuration:play.api.Configuration)
<head>
	<title>MyFly.Club | A Fork of Airline Club</title>
	<meta name="google-signin-client_id" content="526466847284-mmk6qg2bc4su9ihgqippccaha28edn81.apps.googleusercontent.com">
	<meta name="description" content="MyFly.Club, a free airline management game. Build your own airline, manage it's profits, create routes to over 4000 airports from a choice of 150+ aircraft.">
	<meta name="author" content="Paces Creative">
	<meta name="google-site-verification" content="EyjPyE3kaprSp7umZW58OuLwb-viMRBYx1lUh50ozAk" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="dns-prefetch" href="//api.protomaps.com">
	<link rel="stylesheet" type="text/css" href='@views.AssetUrl("stylesheets/main.css")'>
	<link rel="stylesheet" type="text/css" href='@views.AssetUrl("stylesheets/departures.css")'>
	<link rel="stylesheet" type="text/css" href='@views.AssetUrl("stylesheets/tooltip.css")'>
	<link rel="stylesheet" type="text/css" href='@views.AssetUrl("stylesheets/chat.css")'>
	<link rel="stylesheet" type="text/css" href='@views.AssetUrl("stylesheets/search.css")'>
	<link rel="stylesheet" type="text/css" href='@views.AssetUrl("stylesheets/campaign.css")'>
	<link rel="stylesheet" type="text/css" href='@views.AssetUrl("stylesheets/switch.css")'>
	<link rel="stylesheet" type="text/css" href='@views.AssetUrl("stylesheets/prompt.css")'>
	<link rel="stylesheet" type="text/css" href='@views.AssetUrl("stylesheets/mobile.css")'>
	<link rel="manifest" href="/manifest.json">
	<script>var API_PREFIX = '/api/@controllers.currentApiVersion';</script>
	<script src='@views.AssetUrl("javascripts/libs/jquery-4.0.0.min.js")'></script>
	<script src='@views.AssetUrl("javascripts/libs/jquery-migrate-4.0.2.min.js")'></script>
	<script src='@views.AssetUrl("javascripts/libs/reconnecting-websocket.min.js")'></script>
	<script src='@views.AssetUrl("javascripts/libs/chart-4.4.1.umd.min.js")'></script>
	<script src='@views.AssetUrl("javascripts/libs/chartjs-adapter-date-fns-3.0.0.bundle.min.js")'></script>
	<script type="text/javascript" src='@views.AssetUrl("progress-bar/progress-bar.js")' defer></script>
	<link rel="stylesheet" href='@views.AssetUrl("progress-bar/progress-bar.css")' type="text/css" />
	<link rel="stylesheet" href="/assets/firework/firework.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#000000">
</head>
