    <div id="tutorialHtml"></div>
    <div id="noticeHtml"></div>
    <div id="firework-container" style="display: none">
		<!-- App -->
		<div class="container">
			<div class="stage-container remove">
				<div class="canvas-container">
					<canvas id="trails-canvas"></canvas>
					<canvas id="main-canvas"></canvas>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal for loading -->
	<div class="loadingSpinner"><div class="loader-svg"></div></div>

<script>
window.VERSIONED_ASSETS = {
  'login.js':             '@views.AssetUrl("javascripts/login.js")',
  'signup.js':            '@views.AssetUrl("javascripts/signup.js")',
  'push.js':              '@views.AssetUrl("javascripts/push.js")',
  'routes.js':            '@views.AssetUrl("javascripts/routes.js")',
  'main.js':              '@views.AssetUrl("javascripts/main.js")',
  'gadgets.js':           '@views.AssetUrl("javascripts/gadgets.js")',
  'local-storage.js':     '@views.AssetUrl("javascripts/local-storage.js")',
  'airline.js':           '@views.AssetUrl("javascripts/airline.js")',
  'websocket.js':         '@views.AssetUrl("javascripts/websocket.js")',
  'prompt.js':            '@views.AssetUrl("javascripts/prompt.js")',
  'color.js':             '@views.AssetUrl("javascripts/color.js")',
  'settings.js':          '@views.AssetUrl("javascripts/settings.js")',
  'plot-chartjs.js':      '@views.AssetUrl("javascripts/plot-chartjs.js")',
  'airport.js':           '@views.AssetUrl("javascripts/airport.js")',
  'airplane.js':          '@views.AssetUrl("javascripts/airplane.js")',
  'model-config/index.js':'@views.AssetUrl("javascripts/model-config/index.js")',
  'manager.js':           '@views.AssetUrl("javascripts/manager.js")',
  'country.js':           '@views.AssetUrl("javascripts/country.js")',
  'office.js':            '@views.AssetUrl("javascripts/office.js")',
  'ranking.js':           '@views.AssetUrl("javascripts/ranking.js")',
  'christmas.js':         '@views.AssetUrl("javascripts/christmas.js")',
  'easter.js':            '@views.AssetUrl("javascripts/easter.js")',
  'bank.js':              '@views.AssetUrl("javascripts/bank.js")',
  'admin.js':             '@views.AssetUrl("javascripts/admin.js")',
  'oil.js':               '@views.AssetUrl("javascripts/oil.js")',
  'rivals.js':            '@views.AssetUrl("javascripts/rivals.js")',
  'alliance.js':          '@views.AssetUrl("javascripts/alliance.js")',
  'event.js':             '@views.AssetUrl("javascripts/event.js")',
  'search.js':            '@views.AssetUrl("javascripts/search.js")',
  'profile.js':           '@views.AssetUrl("javascripts/profile.js")',
  'pending-action.js':    '@views.AssetUrl("javascripts/pending-action.js")',
  'table-utils.js':       '@views.AssetUrl("javascripts/table-utils.js")',
  'link-history.js':      '@views.AssetUrl("javascripts/link-history.js")',
  'confetti.js':          '@views.AssetUrl("javascripts/confetti.js")',
  'departures.js':        '@views.AssetUrl("javascripts/departures.js")',
  'campaign.js':          '@views.AssetUrl("javascripts/campaign.js")',
  'notification.js':      '@views.AssetUrl("javascripts/notification.js")',
  'mobile.js':            '@views.AssetUrl("javascripts/mobile.js")',
  'chat-popup.js':        '@views.AssetUrl("javascripts/chat-popup.js")',
  'tiles.js':             '@views.AssetUrl("javascripts/tiles.js")',
  'facility.js':          '@views.AssetUrl("javascripts/facility.js")',
  'chat.js':              '@views.AssetUrl("javascripts/chat.js")',
};
</script>
<script src='@views.AssetUrl("javascripts/index.js")'></script>
<script defer src='@views.AssetUrl("firework/fscreen.js")'></script>
<script defer src='@views.AssetUrl("firework/stage.js")'></script>
<script defer src='@views.AssetUrl("firework/my-math.js")'></script>
<script defer src='@views.AssetUrl("firework/firework.js")'></script>
